body {
  font-family: Arial, sans-serif;
  background-color: ghostwhite;
  padding: 0;
  margin: 0;
}
/*1-------------------------------------------------*/
.slider {
  position: relative;
  width: 100%; /* Đặt chiều rộng của slider là 100% */
  border: 1px solid orange; /* Viền cho slider */
  overflow: hidden; /* Ẩn phần hình ảnh bị tràn ra ngoài */
}

.slides {
  display: flex;
  animation: slide 20s infinite; /* Chạy animation vô hạn */
  transition: transform 1s ease-in-out; /* Hiệu ứng chuyển động */
}

.slide {
  min-width: 100%; /* Chiều rộng slide bằng 100% của slider */
  box-sizing: border-box;
  display: flex; /* Sử dụng flex để căn giữa ảnh */
  justify-content: center;
  align-items: center;
}

.slide img {
  max-width: 100%; /* Giữ ảnh trong giới hạn chiều rộng slider */
  height: 40px; /* Tự động điều chỉnh chiều cao để giữ tỷ lệ */
  object-fit: contain; /* Đảm bảo giữ nguyên tỷ lệ ảnh */
}

/* Tạo hiệu ứng tự động chuyển đổi */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  16% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-100%);
  }
  36% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-200%);
  }
  56% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-300%);
  }
  76% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-400%);
  }
  96% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0);
  }
}

/*2------------------------------------------------*/
header {
  background-color: #297be0d3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  height: 70px;
}
.thuonghieu {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  margin-left: 10px;
  margin-right: 45px;
  flex: 1;
  min-width: 230px;
}
.th {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.thuonghieu2 {
  height: 70px;
}
.thuonghieu1 {
  width: 500px;
}

header img {
  width: 80px;
  height: auto;
  max-width: 180px;
  background-attachment: fixed;
}

.InputContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  padding-left: 15px;
  margin-left: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
  min-width: 150px;
  box-sizing: border-box;
  flex-wrap: nowrap;
  width: 95%;
}
.InputContainer form {
  flex-wrap: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.input {
  width: 90%;
  min-width: 100px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: rgb(223, 136, 22);
  flex: 2;
}

.search-icon {
  width: 20px;
}

.labelforsearch {
  cursor: pointer;
  padding: 0 12px 0 0;
  background-color: white;
  border: none;
  width: 20px;
}

.InputContainer:hover,
.InputContainer:focus-within {
  border: 2px solid #8b4aec;
  box-shadow: 0px 0px 0px 7px rgba(185, 74, 236, 0.441);
  background-color: white;
}

.InputContainer:active {
  transform: scale(0.95);
}
.InputContainer form .input:active {
  background-color: white;
}

.menu {
  flex: 2.2;
  margin: 0 40px 0 30px;
  min-width: 400px;
}

.thongtin {
  display: flex;
  align-items: center;
  color: white;
  font-size: 19px;
  justify-content: center;
  gap: 20px;
}
.thongtincon,
.thongtincon-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  margin: 0;
  padding: 0;
}

.thongtincon i,
.thongtincon-1 i {
  font-size: 30px;
  margin-right: 2px;
}
.dathang {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.dathang a {
  margin-bottom: 2px;
  line-height: normal;
}
.thongtincon a,
.thongtincon-1 a {
  color: white;
  text-decoration: none;
}

@media (max-width: 900px) {
  .thuonghieu {
    min-width: 200px;
  }
  .thuonghieu1 {
    width: 150px;
  }
  .InputContainer {
    min-width: 250px;
  }
  .input {
    min-width: 200px;
  }
  .thongtin {
    font-size: 16px;
    margin-left: 25px;
    gap: 0px;
  }
  .thongtincon-1 {
    display: none;
  }
  .menu {
    flex: 2;
    min-width: 200px;
    margin: 0 30px 0 30px;
  }
  .thongtincon a {
    width: 100px;
    min-width: 80px;
  }
}
@media (max-width: 768px) {
  .thuonghieu1 {
    display: none;
  }
  .thuonghieu {
    min-width: 50px;
    margin-right: 10px;
    margin-left: 0px;
  }
  .th {
    min-width: 50px;
  }
  .thuonghieu2 {
    min-width: 60px;
  }
  .InputContainer {
    min-width: 150px;
    max-width: 400px;
    margin-left: 10px;
  }
  .input {
    min-width: 95px;
  }
  .thongtin {
    font-size: 14px;
    margin-left: 15px;
    gap: 0px;
  }
  .thongtincon-1 {
    display: none;
  }
  .menu {
    flex: 1.8;
    min-width: 200px;
    margin: 0 10px 0 20px;
  }
  .thongtincon {
    margin-right: 0px;
    width: 110px;
  }
  .thongtincon a {
    width: 100px;
    min-width: 80px;
  }
}
/*Màn hình nhỏ nhất hiện tại*/
@media (max-width: 455px) {
  .thongtin {
    font-size: 14px;
    margin-left: 5px;
    gap: 0px;
  }
  .thongtincon-1 {
    display: none;
  }
  .menu {
    flex: 1.8;
    min-width: 85px;
    margin: 0 10px 0 10px;
  }
  .thongtincon {
    margin-right: 0px;
    width: 90px;
  }
  .thongtincon a {
    width: 80px;
    min-width: 40px;
  }
  #small {
    display: none;
  }
}

.khung {
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 999;
  top: 0;
  left: 0;
  display: none;
  background-color: rgb(0, 0, 0, 0.7);
}
.nd {
  min-width: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 5px solid #297be0d3;
  align-items: center;
  border-radius: 10px;
  background-color: white;
}

/*ấn vào nó sẽ hiện ra khung*/
#dangnhap:target {
  display: flex;
}
.nd form {
  width: 90%;
}
.nd input {
  margin: 8px 0;
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #297be0d3;
  min-width: 100px;
}
.nd button {
  width: 60%;
  padding: 10px 20px;
  background-color: orange;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
.nd button:hover {
  background-color: #297be0d3;
  box-shadow: 4px 5px 17px -4px #268391;
  transform: scale(1.1);
}
.nd .close {
  display: block;
  margin: 8px;
  color: #6e6e6e;
  font-size: 15px;
  text-decoration: none;
}

.nd .Dk {
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 16px;
  margin: 10px 0;
  color: #8526ea;
  align-items: center;
  height: 30px;
}
.nd .link {
  text-decoration: none;
}
/*3------------------------------------------------*/

.Thanh {
  width: 100%;
  height: 60px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: center;
  text-decoration: none;
}

.Thanh_con {
  margin-left: 10px;
  text-align: center;
  font-size: large;
  padding: 10px;
  width: 130px;
  height: 29px;
  border-radius: 5px;
  display: flex;
  gap: 3px;
}
.Thanh_con a {
  color: #333;
  text-decoration: none;
  position: relative;
  flex-wrap: nowrap;
}
.Thanh_con i {
  background-color: white;
  color: #7b29e0d3;
  height: fit-content;
  border-radius: 5px;
  font-size: 22px;
}
.Thanh_con:hover {
  background-color: #e1d3e85a;
}

@media (max-width: 840px) {
  .Thanh {
    gap: 15px;
  }
  .Thanh_con a {
    font-size: 16px;
  }
  .Thanh_con i {
    font-size: 20px;
  }
}

@media (min-width: 769px) {
  #an5,
  #an6,
  #an0 {
    display: none;
  }
}

@media (max-width: 768px) {
  .Thanh {
    bottom: 0;
    position: fixed;
    z-index: 5;
  }
  #an0,
  #an1,
  #an2,
  #an4 {
    display: none;
  }
}
@media (max-width: 455px) {
  #an0 {
    display: flex;
  }
  #an7 {
    display: none;
  }
  .Thanh_con {
  }
}

/*4------------------------------------------------*/

.section_tong {
  display: flex;
  box-sizing: border-box;
  height: 400px;
  width: 90%;
  margin: 10px auto; /*Chỉnh giữa theo chiều ngang*/
  gap: 20px;
  position: relative;
  z-index: 0;
  background-color: #edf0f14b;
}

/*SECTION1*/
.section_1 {
  background-color: white;
  height: 100%;
  flex: 1.75;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  position: relative;
  max-width: 230px;
}

.sec,
.sec_dt-ip,
.sec_laptop,
.sec_tainghe,
.sec_dongho,
.sec_phukien {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 10px;
}
.sec:hover,
.sec_dt-ip:hover,
.sec_laptop:hover,
.sec_tainghe:hover,
.sec_dongho:hover,
.sec_phukien:hover {
  box-shadow: 3px 4px 16px -2px #268391;
}
.sec_label {
  white-space: nowrap; /*không xuống dòng*/
}
.sec_label a {
  text-decoration: none;
  color: black;
}
.sec_label i {
  font-size: 24px;
  margin-bottom: 0;
}
.sec_icon {
  font-size: 23px;
  margin-left: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.326); /* Màu đen với độ trong suốt */
  display: none; /* Ẩn overlay mặc định */
  z-index: 1; /* Đảm bảo overlay nằm trên tất cả các phần khác, nhưng dưới section_1_an */
}

.section_1_an {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  max-width: 300px;
  background-color: #f5f5f5;
  z-index: 2;
  display: none;
  height: 400px;
  width: 230px;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

/* Hiển thị khi click vào danh mục */
#danhmuc:target {
  display: flex; /* Hiển thị phần section_1_an */
}

/* Hiển thị lớp phủ khi section_1_an được hiển thị */
.section_1_an:target ~ .overlay {
  display: flex; /* Hiển thị lớp phủ khi section_1_an được hiển thị */
}

.sec2 {
  text-align: center;
  padding: 10px;
  font-size: 15px;
  border-top: 1px solid rgba(193, 179, 179, 0.384);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec2 a {
  text-decoration: none;
  color: black;
}
.sec2:hover {
  background-color: #60baca79;
  border-radius: 10px;
}

/*khi màn hình nhỏ hơn 1024px*/
@media (max-width: 1024px) {
  .section_tong {
    width: 100%;
  }
  .section_3 {
    display: none;
  }
}
/*khi màn hình nhỏ hơn 1112px*/
@media (max-width: 1112px) {
  .section_tong {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}

.more table {
  border-collapse: separate; /* Tách biệt các viền */
  border-spacing: 20px 0; /* Khoảng cách giữa các cột, chiều cao giữa các hàng vẫn bình thường */
  width: 600px; /* Chiều rộng của bảng */
}

.more th,
.more td {
  padding: 8px; /* Padding cho các ô */
  text-align: left;
}

/* Thay đổi khoảng cách giữa các cột cụ thể */
.more th:nth-child(1),
.more td:nth-child(1) {
  padding-right: 20px; /* Khoảng cách bên phải cột 1 */
}

.more th:nth-child(2),
.more td:nth-child(2) {
  padding-right: 20px; /* Khoảng cách bên phải cột 2 */
}

.more th:nth-child(3),
.more td:nth-child(3) {
  padding-left: 10px; /* Khoảng cách bên trái cột 3 */
}

.more th {
  background-color: #f2f2f2;
}

/* Hiển thị bảng khi hover vào sec_dt-ip */
.sec_dt-ip:hover .table-1,
.sec_laptop:hover .table-2,
.sec_tainghe:hover .table-3,
.sec_dongho:hover .table-4,
.sec_phukien:hover .table-5,
.sec:hover .table-6 {
  display: block;
}

/* Bảng vẫn hiển thị khi hover vào chính nó */
.more:hover {
  display: block;
}
.more {
  display: none;
  position: absolute; /* Đặt bảng là vị trí tuyệt đối dựa trên sec_dt-ip */
  top: 0px;
  right: -612px;
  z-index: 100;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 821px) {
  .more {
    width: 200%; /* Điều chỉnh bảng cho phù hợp với kích thước màn hình */
    right: -400px;
  }

  /* Cho phép cuộn ngang nhưng ẩn thanh cuộn */
  .more table {
    width: 100%; /* Đặt kích thước cố định để tạo điều kiện cho cuộn */
    display: block;
    overflow-x: auto; /* Cho phép cuộn ngang */
    white-space: nowrap; /* Không ngắt dòng giữa các cột */
  }

  /* Ẩn thanh cuộn nhưng vẫn cuộn được */
  .more table::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn trên các trình duyệt sử dụng WebKit (Chrome, Safari, Edge) */
  }

  .more table {
    -ms-overflow-style: none; /* Ẩn thanh cuộn trên IE và Edge */
    scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
  }
}

@media (max-width: 605px) {
  .more {
    width: 162%; /* Điều chỉnh bảng cho phù hợp với kích thước màn hình */
    right: -330px;
  }

  /* Cho phép cuộn ngang nhưng ẩn thanh cuộn */
  .more table {
    width: 100%; /* Đặt kích thước cố định để tạo điều kiện cho cuộn */
    display: block;
    overflow-x: auto; /* Cho phép cuộn ngang */
    white-space: nowrap; /* Không ngắt dòng giữa các cột */
  }

  /* Ẩn thanh cuộn nhưng vẫn cuộn được */
  .more table::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn trên các trình duyệt sử dụng WebKit (Chrome, Safari, Edge) */
  }

  .more table {
    -ms-overflow-style: none; /* Ẩn thanh cuộn trên IE và Edge */
    scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
  }
}

/*-------------------SECTION2-------------------*/
.section_2 {
  height: 400px;
  flex: 6.5;
  padding: 0;
}

.slider-content-nd-bottom {
  display: flex;
  justify-content: space-between;
  border-top: none;
  height: 50px;
  box-sizing: border-box;
}

.slider-content-nd-bottom li {
  list-style: none;
  width: 20%;
  text-align: center;
  cursor: pointer;
  padding: 0px;
  height: 100%;
  line-height: 38px;
  background-color: #edf1ee4b;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
}

.active {
  border-right: 2px solid #297be0d3;
}
.active:hover {
  transition: transform 1s ease-in;
  box-shadow: 4px 5px 17px -4px #268391;
  transform: scale(1.1);
}

.slider-content {
  position: relative;
  width: 100%; /* Đặt chiều rộng của slider là 100% */
  overflow: hidden; /* Ẩn phần hình ảnh bị tràn ra ngoài */
  height: 70%;
}

.slider-content-nd-top {
  display: flex;
  animation: slide 20s infinite; /* Chạy animation vô hạn */
  transition: transform 1s ease-in-out; /* Hiệu ứng chuyển động */
  background-color: #f0f1ed4b;
}

.slide-content {
  min-width: 100%; /* Chiều rộng slide bằng 100% của slider */
  box-sizing: border-box;
  display: flex; /* Sử dụng flex để căn giữa ảnh */
  justify-content: center;
  align-items: center;
}

.slide-content img {
  max-width: 100%; /* Giữ ảnh trong giới hạn chiều rộng slider */
  height: 350px; /* Tự động điều chỉnh chiều cao để giữ tỷ lệ */
  object-fit: contain; /* Đảm bảo giữ nguyên tỷ lệ ảnh */
}

/* Tạo hiệu ứng tự động chuyển đổi */
@keyframes slide-content {
  0% {
    transform: translateX(0);
  }
  16% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-100%);
  }
  36% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-200%);
  }
  56% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-300%);
  }
  76% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-400%);
  }
  96% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0);
  }
}

.section_3 {
  background-color: whitesmoke;
  height: 100%;
  flex: 1.75;
  width: 225px;
  min-width: 225px;
}
.section_3-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.section_3-content {
  width: 100%;
  height: 33%;
  box-sizing: border-box;
  padding: 7px;
}
.section_3-content img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* phần sale và footer */
.hotSale {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  color: white;
  background-color: #297be0d3;
  border: 2px solid #888;
  border-radius: 5px;
  position: relative;
}
.hotSale a {
  display: block;
  position: absolute;
  right: 1%;
}
.hotSaleItemsContainer {
  width: 100%;
  display: flex;
}
.hotSaleItems {
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 20%;
  height: 320px;
  margin: 2px;
}
.hotSaleItems img {
  width: 100%;
  margin: auto;
  clip: auto;
  margin: 5px 0px;
  height: 45%;
  transition: 0.2s;
}
.hotSaleItems h3, .hotSaleItems h4 {
  text-align: center;
}
.saveBtn {
  display: flex;
  border-radius: 5px;
  margin: auto;
  font-size: 180%;
  height: 100%;
  justify-content: center;
  align-content: center;
  background-color: #297be0a5;
  transition: 0.2s;
}
.saveBtn:hover {
  background-color: #5790d6d3;
}
.saveBtn a {
  text-decoration: none;
}
footer {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  background-color: #5493dfa5;
  border-radius: 10px 10px 0px 0px;
}
@media (max-width: 541px) {
  .section_1 {
    display: none;
  }
  .section_2 .slider-content-nd-bottom {
    display: none;
  }
  .section_2 .slider-content {
    border: 2px solid #297be0d3;
  }
}
@media (min-width: 1029px) {
  .slide-content img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}
@media (min-width: 769px) {
  .qc {
    display: none;
  }
}
@media (max-width: 768px) {
  .slide-content img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  .section_tong {
    height: 300px;
  }
  .section_1,
  .section_2,
  .section_1_an {
    height: 300px;
  }
}
@media (min-width: 1025px) AND (max-width: 1087px) {
  .slider-content {
    border: 2px solid #297be0d3;
  }
}
